<div class="container">
    <div class="row homepage-shops-block">
        <div class="col-12 center-content homepage-shops">
    <p></p>
    <h3 class="main-top">Корзина</h3>
    <table class="table table-hover">
        <tr>
            <td>Название товара</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Итого</td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <button class="button_lit1 button_primary_lit" ng-click="clearCart()">Очистить корзину</button>
    </p>

    <p></p>
    <h3 class="main-top">Детали заказа</h3>
    <form novalidate>
        <input class="form-control" type="text" placeholder="Номер телефона получателя" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.address">
        <p></p>
    </form>

    <button class="button_lit1 button_primary_lit" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <button class="bbutton_lit1 button_primary_lit1" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
</div></div></div>