<div class="container">
    <div class="row homepage-shops-block">
        <div class="col-12 center-content homepage-shops">
            <form novalidate ng-submit="loadProducts()">
                <table width="100%" cellpadding="10px"><tr>
                    <td>
                        <label for="filterTitle">Название продукта</label>
                        <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
                    </td>
                    <td>
                        <label for="filterTitle">Выбрать категорию</label><br>
                        <select id="filterCategory" class="form-control"  ng-model="filter.category_title" ng-options="c for c in category">
                        </select>
<!--                        <input id="filterCategory" class="form-control" list="category" ng-model="filter.category_title">-->
<!--                        <datalist id="category" >-->
<!--                            <option value="Аксессуары">Аксессуары</option>-->
<!--                            <option value="Телевизоры">Телевизоры</option>-->
<!--                            <option value="Компьютеры">Компьютеры</option>-->
<!--                            <option value="Офис и сеть">Офис и сеть</option>-->
<!--                            <option value="Для кухни">Для кухни</option>-->
<!--                            <option value="Для дома">Для дома</option>-->
<!--                            <option value="Строительство">Строительство</option>-->
<!--                            <option value="Для дачи">Для дачи</option>-->
<!--                            <option value="Для отдыха">Для отдыха</option>-->
<!--                        </datalist>-->
<!--                        </input>-->
                    </td>
                    <td>
                        <label for="filterMinPrice">Мин. цена</label>
                        <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.min_price">
                    </td>
                    <td>
                        <label for="filterMaxPrice">Макс. цена</label>
                        <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.max_price">
                    </td>
                    <td>
                        <button class="button_lit1 button_primary_lit" style="width: 100%;" type="submit">Применить</button>
                    </td>
                </tr></table>
            </form>
        </div>
    </div>

    <h3 class="main-top">Каталог товаров</h3>
    <p></p>

    <p></p>
    <div class="wrap" ng-repeat="p in ProductsPage.content">
        <div class="bblock center-content homepage-shops" >
            <img srcset="{{p.pathname}}" alt="{{p.title}}"  src=""  align="center">
            <h3 class="main-top-lit" align="center">{{p.title}}</h3>
            <p class="product-text" align="center">{{p.description}}</p>
            <p class="product" align="center">{{p.price}}</p>
            <p>
                <button class="button_lit1 button_primary_lit1" ng-click="goToProduct(p.id)">Подробнее</button> &nbsp;&nbsp;
                <button class="button_lit1 button_primary_lit" ng-click="addToCart(p.id)">В корзину</button>
            </p>
        </div>
    </div>
    <div class="row homepage-shops-block">
        <div class="col-12 center-content homepage-shops">
            <nav aria-label="Page navigation" class="center-content">
                <ul class="pagination">
                    <li ng-class="ProductsPage.first ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" ng-click="loadProducts(ProductsPage.number)">Пред.</a>
                    </li>

                    <li ng-class="ProductsPage.number == pageIndex - 1 ? 'page-item active' : 'page-item'"
                        ng-repeat="pageIndex in PaginationArray">
                        <a class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</a>
                    </li>

                    <li ng-class="ProductsPage.last ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" ng-click="loadProducts(ProductsPage.number + 2)">След.</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>