<div class="container">
    <div class="row homepage-shops-block">
        <div class="col-12 center-content homepage-shops">
            <form novalidate ng-submit="loadProducts()">
                <table width="100%" cellpadding="10px"><tr>
                    <td>
                        <label for="filterTitle">Название продукта</label>
                        <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
                    </td>
                    <td>
                        <label for="filterTitle">Выбрать категорию</label><br>
                        <select id="filterCategory" class="form-control"  ng-model="filter.category_title" ng-options="c for c in category">
                        </select>
                    </td>
                    <td>
                        <label for="filterMinPrice">Мин. цена</label>
                        <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.min_price">
                    </td>
                    <td>
                        <label for="filterMaxPrice">Макс. цена</label>
                        <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.max_price">
                    </td>
                    <td>
                        <button class="button_lit1 button_primary_lit" style="width: 100%;" type="submit">Применить</button>
                    </td>
                </tr></table>
            </form>
        </div>
    </div>

    <h3 class="main-top">Каталог товаров</h3>
    <p></p>
    <div class="wrap" ng-repeat="product in ProductsPage.content">
        <div class="bblock center-content homepage-shops" >
            <img srcset="http://localhost:5555/core/api/v1/images/{{product.imageId}}" alt="{{product.title}}"  src=""  align="center" width="100%">
            <h3 class="main-top-lit" align="center">{{product.title}}</h3>
            <p class="product-text" align="center">{{product.description}}</p>
            <p class="product" align="center">{{product.price}}</p>
            <p>
                <button class="button_lit1 button_primary_lit1" ng-click="goToProduct(product.id)">Подробнее</button> &nbsp;&nbsp;
                <button class="button_lit1 button_primary_lit" ng-click="addToCart(product.id)">В корзину</button>
            </p>
        </div>
    </div>
    <div class="row homepage-shops-block">
        <div class="col-12 center-content homepage-shops">
            <nav aria-label="Page navigation" class="center-content">
                <ul class="pagination">
                    <li ng-class="ProductsPage.first ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" ng-click="loadProducts(ProductsPage.number)">Пред.</a>
                    </li>

                    <li ng-class="ProductsPage.number == pageIndex - 1 ? 'page-item active' : 'page-item'"
                        ng-repeat="pageIndex in PaginationArray">
                        <a class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</a>
                    </li>

                    <li ng-class="ProductsPage.last ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" ng-click="loadProducts(ProductsPage.number + 2)">След.</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>