@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.footer {
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    height: 350px;
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: #006666;
    padding-top: 64px;
}
.footer h3 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: #FFFFFF;
}
.footer p {
    font-weight: 200;
    font-size: 1.8rem;
    color: #FFFFFF;
}
.footer p.lit {
    font-weight: 100;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.line  {
    size: 4px;
    width: 100%;
    color: #ffffff;
}