<div class="container" ng-controller="regController" >
    <div class="row homepage-shops-block">
        <div class="col-6 center-content homepage-shops">
            <form>
                <div>
                    <label for="username">Пользователь</label>
                    <input ng-model="newUser.username" type="username" class="form-control" id="username" placeholder="Text" required>
                </div>
                <div>
                    <label for="password">Пароль</label>
                    <input ng-model="newUser.password" type="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div>
                    <label for="passwordConfirm">Подтверждение пароля</label>
                    <input ng-model="newUser.passwordConfirm" type="password" class="form-control" id="passwordConfirm" placeholder="PasswordConfirm" required>
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input ng-model="newUser.email" type="email" class="form-control" id="email" placeholder="Email" required>
                </div>
                <div>
                    <button class="button_lit1 button_primary_lit" ng-click="tryToReg()">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>