<div class="container">
    <div class="row homepage-shops-block">
        <div class="col-12 center-content homepage-shops">
    <h3 class="main-top">Мои заказы</h3>
    <p></p>

    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Адрес доставки</td>
            <td>Стоимость</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="order in MyOrders">
            <td>{{order.id}}</td>
            <td>{{order.address}}</td>
            <td>{{order.totalPrice}}</td>
            <td>
                <button class="button_lit1 button_primary_lit" ng-click="goToPay(order.id)">Оплатить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div></div></div>