<div class="container" ng-controller="authController" >
    <div class="row homepage-shops-block">
        <div class="col-6 center-content homepage-shops">
            <form>
                <div>
                    <label for="user">Пользователь</label>
                    <input ng-model="user" type="user" class="form-control" id="user" placeholder="Text" required>
                </div>
                <div>
                    <label for="password">Пароль</label>
                    <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password" required>
                </div>

                <div>
                    <button class="button_lit1 button_primary_lit" ng-click="tryToAuth()">Войти</button>
                    <a href="#!/registration" class="button_lit button_primary_lit1">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>

