.container {
    position: relative;
}

.head {
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.content {
    margin-top: 60px;
}

.shopping-cart-badge {
    color: lightgrey;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
.shopping-cart-badge:hover {
    color: white;
    animation: linear;
    animation-duration: 0.2s;
}
.cart-icon {
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.shopping-cart {
    background: white;
    width: 360px;
    position: absolute;
    top: 50px;
    right: 58px;
    border-radius: 3px;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 0 21px 2px rgba(34, 60, 80, 0.16);
}
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
    color: #7dcddf;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}
.shopping-cart .shopping-cart-items .cart-control {
    float: right;
    color: gray;
    margin-top: 13px;
    margin-right: 10px;
    cursor: pointer;
}
.cart-button {
    background: #4db9d0;
    border: none;
    border-radius: 0;
    color: white;
    height: 40px;
}
.cart-button:hover {
    background: #179bb4;
    color: white;
    cursor: pointer;
}