<div class="container">
    <div class="row homepage-shops-block">

        <div class="tabs">
            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
            <label for="tab-btn-1"><h3 class="main-top-lit">Товары</h3></label>
            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
            <label for="tab-btn-2"><h3 class="main-top-lit">Заказы</h3></label>
            <input type="radio" name="tab-btn" id="tab-btn-3" value="">
            <label for="tab-btn-3"><h3 class="main-top-lit">Акции</h3></label>
            <input type="radio" name="tab-btn" id="tab-btn-4" value="" ng-show="isAdminLoggedIn()">
            <label for="tab-btn-4"><h3 class="main-top-lit" ng-show="isAdminLoggedIn()">Пользователи</h3></label>

            <div id="content-1">
                <div class="col-12 center-content ">
                    <div class="row g-2">
                        <div class="col-6 center-content homepage-shops">
                            <h3 class="main-top-lit">Добавить новый товар</h3>
                            <form novalidate ng-submit="submitCreateNewProduct()" class="center-content">
                                <div>
                                    <label for="newProductTitle">Название</label>
                                    <input class="form-control" type="text" ng-model="newProduct.title" id="newProductTitle">
                                </div>
                                <div >
                                    <label for="newProductCategory">Категория</label>
                                    <input class="form-control" type="text" value="" ng-model="newProduct.groupId" id="newProductCategory">
                                </div>
                                <div >
                                    <label for="newProductDescription">Описание</label>
                                    <input class="form-control" type="text" ng-model="newProduct.description" id="newProductDescription">
                                </div>
                                <div >
                                    <label for="newProductPrice">Цена</label>
                                    <input class="form-control" type="number" ng-model="newProduct.price" id="newProductPrice">
                                </div>
                                <div >
                                    <label for="newProductImage">Картинка</label>
                                    <input class="form-control" type="file" ng-model="newProduct.pathname" id="newProductImage">
                                </div>
                                <div class="center-content">
                                    <button class="button_lit button_primary_lit" type="submit">Сохранить</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-5 center-content homepage-shops">
                            <h3 class="main-top-lit">Добавить категорию товара</h3>
                            <form novalidate ng-submit="submitCreateNewCategory()" class="center-content">
                                <div>
                                    <label for="newCategoryTitle">Название</label>
                                    <input class="form-control" type="text" ng-model="newCategory.title" id="newCategoryTitle">
                                </div>
                                <div class="flex-content center-content">
                                    <button class="button_lit button_primary_lit" type="submit">Сохранить</button>
                                </div>
                            </form>
                            <div><hr class="line_color"></div>
                            <h3 class="main-top-lit">Удалить категорию</h3>
                            <table class="table table-hover">
                                <tr>
                                    <td>Категория</td>
                                    <td></td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="с in allCategories.content">
                                    <td>{{c.title}}</td>
                                    <td>
                                        <button class="button_lit1 button_primary_lit" ng-click="deleteCategory(с.id)">Удалить категорию</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 center-content homepage-shops">
                    <h3 class="main-top-lit">Удалить товар</h3>
                    <div><hr class="line_color"></div>
                    <div class="row g-2">
                        <div class="col-6 col-md-2">
                            <form novalidate ng-submit="loadProducts()">
                                <div class="form-floating input-group-sm">
                                    <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
                                    <label for="filterTitle">Название продукта</label>
                                </div>
                                <p></p>
                                <div class="form-floating input-group-sm">
                                    <input type="text" class="form-control" id="filterCategory" placeholder="" ng-model="filter.category_title">
                                    <label for="filterTitle">Категория</label>
                                </div>
                                <p></p>
                                <button class="button_lit1 button_primary_lit btn-sm" style="width: 100%;" type="submit">Применить</button>
                            </form>
                        </div>
                        <div class="col-sm-6 col-md-10">
                            <table class="table table-hover">
                                <tr>
                                    <td>ID</td>
                                    <td>Изображение</td>
                                    <td>Категория</td>
                                    <td>Название</td>
                                    <td>Цена</td>
                                    <td></td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="p in ProductsPage.content">
                                    <td>{{p.id}}</td>
                                    <td class="card-img">
                                        <div style="height: 50%" >
                                            <img srcset="{{p.pathname}}" alt="{{p.title}}"></div>
                                    </td>
                                    <td>{{p.category_title}}</td>
                                    <td>{{p.title}}</td>
                                    <td>{{p.price}}</td>
                                    <td>
                                        <button class="button_lit1 button_primary_lit btn btn-primary" ng-click="deleteProduct(p.id)">Удалить товар</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p></p>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li ng-class="ProductsPage.first ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" ng-click="loadProducts(ProductsPage.number)">Пред.</a>
                                    </li>

                                    <li ng-class="ProductsPage.number == pageIndex - 1 ? 'page-item active' : 'page-item'"
                                        ng-repeat="pageIndex in PaginationArray">
                                        <a class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</a>
                                    </li>

                                    <li ng-class="ProductsPage.last ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" ng-click="loadProducts(ProductsPage.number + 2)">След.</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content-2">
                <div class="col-12 center-content homepage-shops" ng-show="getOrderById(order.id)">
                    <h3 class="main-top-lit">Изменить заказ</h3>
                    <table class="table table-hover">
                        <tr>
                            <td>ID</td>
                            <td>Заказчик</td>
                            <td>Адрес</td>
                            <td>Телефон</td>
                            <td>Стоимость</td>
                            <td>Статус заказа</td>
                            <td></td>
                        </tr>
                        <tbody>
                        <tr ng-repeat="order in orderById">
                            <td>{{order.id}}</td>
                            <td>{{order.username}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.phone}}</td>
                            <td>{{order.totalPrice}}</td>
                            <td>
                                <div class="form-check" ng-repeat="status in allOrderStatus">
                                    <input class="form-check-input" type="checkbox" ng-click="clickOrderStatus(status.Id, selected)" value="" id="filterStatusIds">
                                    <label class="form-check-label" for="filterStatusIds">
                                        {{status.name}}
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="button_lit1 button_primary_lit btn btn-primary" ng-click="changeStatus(order.id, status.Id)">Изменить</button>
                            </td>
<!--                            КАК НЕ НУЖНО:-->
<!--                            <form novalidate ng-submit="changeStatus(order.id)" class="center-content">-->
<!--                                <td>-->
<!--                                    <input class="form-control" type="text" ng-model="newStatus.orderStatus" id="newStatus">-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <button class="button_lit1 button_primary_lit" type="submit">Изменить</button>-->
<!--                                </td>-->
<!--                            </form>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 center-content homepage-shops">
                    <div><hr class="line_color"></div>
                    <h3 class="main-top-lit">Все заказы</h3>
                    <table class="table table-hover">
                        <tr>
                            <td>ID</td>
                            <td>Заказчик</td>
                            <td>Комплектация</td>
                            <td>Адрес доставки</td>
                            <td>Телефон</td>
                            <td>Стоимость</td>
                            <td>Статус заказа</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tbody>
                        <tr ng-repeat="order in allOrders">
                            <td>{{order.id}}</td>
                            <td>{{order.username}}</td>
                            <td>{{order.items}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.phone}}</td>
                            <td>{{order.totalPrice}}</td>
                            <td>{{order.orderStatus}}</td>
                            <td>
                                <button class="button_lit1 button_primary_lit" ng-click="getOrderById(order.id)">Редактировать</button>
                            </td>
                            <td>
                                <button class="button_lit1 button_primary_lit1" ng-click="deleteOrder(order.id)">Удалить</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="content-3">
                <div class="col-12 center-content homepage-shops">
                    <h3 class="main-top-lit">Добавить баннер на главной</h3>
                    <form novalidate ng-submit="submitCreateNewBanner()" class="center-content">
                        <div>
                            <label for="newBannerTitle">Название</label>
                            <input class="form-control" type="text" ng-model="newBanner.title" id="newBannerTitle">
                        </div>
                        <div>
                            <label for="newBannerImage">Картинка</label>
                            <input class="form-control" type="file" ng-model="newBanner.image" id="newBannerImage">
                        </div>
                        <div class="flex-content center-content">
                            <button class="button_lit button_primary_lit" type="submit">Сохранить</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 center-content homepage-shops">
                    <h3 class="main-top-lit">Удалить баннер на главной</h3>
                    <div class="col-12">
                        <table class="table table-hover">
                            <tr>
                                <td>ID</td>
                                <td>Изображение</td>
                                <td>Название</td>
                                <td>Удалить акцию</td>
                            </tr>
                            <tbody>
                            <tr ng-repeat="b in allBanners.content">
                                <td>{{b.id}}</td>
                                <td class="card-img">
                                    <div style="height: 30%" >
                                        <img srcset="{{b.pathname}}" alt="{{b.title}}"></div>
                                </td>
                                <td>{{b.title}}</td>
                                <td>
                                    <button class="button_lit1 button_primary_lit btn btn-primary" ng-click="deleteBanner(b.id)">Удалить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="content-4" ng-show="isAdminLoggedIn()">
                <div class="row g-2 center-content ">
                        <div class="col-12 center-content homepage-shops" ng-show="getUserById(u.id)">
                            <h3 class="main-top-lit">Назначить новые права пользователю</h3>
                            <div><hr class="line_color"></div>
                            <table class="table table-hover" >
                                <tr>
                                    <td>ID</td>
                                    <td>Пользователь</td>
                                    <td>Права</td>
                                    <td>Выбрать роль</td>
                                    <td></td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="user in usersById.content">
                                    <td>{{user.id}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.users_roles}}</td>
                                    <td>
                                        <div class="form-check" ng-repeat="role in allRoles">
                                            <input class="form-check-input" type="checkbox" ng-click="clickRole(role.id, selected)" value="" id="filterRolesIds">
                                            <label class="form-check-label" for="filterRolesIds">
                                                {{role.name}}
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="button_lit1 button_primary_lit btn btn-primary" ng-click="changeUsersRole(user.id, roleId)">Сохранить</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 center-content homepage-shops">
                            <div><hr class="line_color"></div>
                            <h3 class="main-top-lit">Все пользователи</h3>
                            <div><hr class="line_color"></div>
                            <table class="table table-hover">
                                <tr>
                                    <td>ID</td>
                                    <td>Пользователь</td>
                                    <td>Пароль</td>
                                    <td>Email</td>
                                    <td>Адрес</td>
                                    <td>Права</td>
                                    <td>Дата регистрации</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="u in allUsers.content">
                                    <td>{{u.id}}</td>
                                    <td>{{u.username}}</td>
                                    <td>{{u.password}}</td>
                                    <td>{{u.email}}</td>
                                    <td>{{u.address}}</td>
                                    <td>{{u.users_roles}}</td>
                                    <td>{{u.created_at}}</td>
                                    <td>
                                        <button class="button_lit1 button_primary_lit btn btn-primary" ng-click="deleteUser(u.id)">Удалить</button>
                                    </td>
                                    <td>
                                        <button class="button_lit1 button_primary_lit btn btn-primary" ng-click="getUserById(u.id)">Добавить права</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
