<!doctype html>

<html ng-app="market-front">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#!/">Spring Web Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/store">Каталог товаров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/cart">Корзина</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="#!/orders">Мои заказы</a>
                </li>

                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                    style="margin-left: 10px;" type="submit">Войти
                            </button>
                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
                </li>
            </ul>
        </div>
    </nav>

    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="store/store.js"></script>
    <script src="cart/cart.js"></script>
    <script src="orders/orders.js"></script>
    <script src="order_pay/order_pay.js"></script>
    <script src="welcome/welcome.js"></script>
    <script
            src="https://www.paypal.com/sdk/js?client-id=AZX9sEz_m_KSN8L6yOcKLZMq4BJ5bJ1uRpNzPE_5PqswQIRysphIDBii578puqKFxEEP-3QoK5O6Kk94&currency=RUB">
    </script>
</div>

</body>
</html>