<!DOCTYPE html>
<html lang="ru" ng-app="market-front" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='Категории'">
<head>
    <meta charset="utf-8">
    <title>Итернет-магазин</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="img/common.css">
    <script src="js/main.js"></script>
    <link href="img/favicon.ico" rel="icon">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
</head>

<body>
<div class="d-block w-100" ng-controller="welcomeController">
    <header class="header-area overlay">

        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a href="#!/" class="navbar-brand">NHP team`s store </a>
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-item nav-link active" href="#!/">Главная</a>
                        </li>
                        <li>
                            <a class="nav-item nav-link" href="#!/store">Каталог</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-item nav-link" data-toggle="dropdown" href="#!/delivery">Услуги</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Оплата</a>
                                <a href="#" class="dropdown-item">Доставка</a>
                                <a href="#" class="dropdown-item">Возврат</a>
                                <a href="#" class="dropdown-item">Акции и скидки</a>
                            </div>
                        </li>
                        <li><a href="#!/contacts" class="nav-item nav-link">Контакты</a></li>
                        <li class="dropdown">
                            <a href="#!/cart" class="nav-item nav-link" data-toggle="dropdown">Корзина</a>
                            <div class="dropdown-menu">
                                <a href="#!/orders" class="dropdown-item">Оформление заказа</a>
                                <a href="#!/user" class="dropdown-item">Профиль</a>
                                <a href="#!/orders_items" class="dropdown-item">История заказов</a>
                            </div>
                        </li>
                        <li ng-show="!isUserLoggedIn()" ng-click="tryToLogin()">
                            <button class="button_lit button_primary_lit">Войти</button>

                        </li>
                        <li ng-show="isUserLoggedIn()" ng-click="tryToLogout()">
                            <button class="button_lit1 button_primary_lit1">Выйти</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="jumbotron jumbotron-main" id="home">
            <div id="particles-js" class="container_slider_css">
                <canvas class="particles-js-canvas-el" height="450"></canvas>
                <img class="photo_slider_css" src="img/banner_top3.png" alt="">
                <img class="photo_slider_css" src="img/banner_top3_2.png" alt="">
                <img class="photo_slider_css" src="img/banner_top3_1.png" alt="">
                <img class="photo_slider_css" src="img/banner_top3_0.png" alt="">
                <img class="photo_slider_css" src="img/banner_top3.png" alt="">
            </div><!-- /.particles div -->
            <div class="container center-vertically-holder">
                <div class="center-vertically">
                    <div class="col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-3 text-center">
                        <h1 class="scaleReveal" data-sr-id="46">
                            Бытовая техника и электроника <strong>в наличии и под заказ</strong>
                        </h1>
                        <a href="index.html" class="button button-primary">Перейти в каталог</a>
                        <hr class="bottomReveal" data-sr-id="1">
                        <p class="bottomReveal" data-sr-id="2">
                            Одна из крупнейших розничных сетей по объёмам продаж электроники и бытовой техники в
                            России</p>
                        <a href="#" data-id="ideology" class="scroll-link">
                            <div class="scroll-indicator rotateBottomReveal" data-sr-id="40"
                                 style="; visibility: visible;  -webkit-transform: translateY(0) scale(1) rotateX(0); opacity: 1;transform: translateY(0) scale(1) rotateX(0); opacity: 1;-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s; ">
                                <span class="ion-mouse"></span><br>
                                <span class="ion-android-arrow-down arrow-scroll-indicator"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <section id="content_2" class="content">
            <div class="container">
                <div class="row homepage-shops-block">
                    <div class="col-12 center-content homepage-shops">

                    </div>
                </div>
            </div>
        </section>

        <section id="content_1">
            <div class="container">
                <div class="row homepage-shops-block">
                    <div class="col-4 center-content homepage-shops">
                        <img src="img/klients.png" width="150" alt="s">
                        <p><b>ДЛЯ КЛИЕНТОВ</b><br> Наши клиенты – в центре всего, что мы делаем,
                            Доверие - это главное. Мы строим долгосрочные отношения, стремимся быть
                            экспертами, открыты для предложений и улучшений. </p>
                    </div>
                    <div class="col-4 center-content homepage-shops">
                        <img src="img/partners.png" width="150">
                        <p><b>ДЛЯ ПАРТНЕРОВ</b><br>
                            Прозрачность - основа совместного бизнеса.
                            Работаем, соблюдая этику бизнеса,
                            уважаем другие мнения и интересы,
                            выполняем обязательства и берем ответственность за свои решения.
                            Нетерпимы к коррупции. </p>
                    </div>
                    <div class="col-3 center-content homepage-shops">
                        <img src="img/staff.png" width="150" style="align-items: center" alt="ff">
                        <p><b>ДЛЯ СОТРУДНИКОВ</b><br>
                            NHP - территория личной и коллективной самореализации.
                            Мы - одна команда, ценим интересы друг друга,
                            свободу, смелость и ответственность. </p>
                    </div>
                </div>

                <div class="row homepage-shops-block">
                    <div class="col-12 center-content homepage-shops">
                        <p><img src="img/ms-icon-144x144.png" width="144" class="img_brand">
                            Розничная сеть NHP Team`s store осуществляет свою деятельность с 1993 года и является первой
                            на российском рынке сетью,
                            реализовавшей полноценный омниканальный подход к продажам — это единый ассортимент, цена и
                            сервис как при покупке в магазинах,
                            так и онлайн. Ритейлер предлагает своим покупателям несколько десятков тысяч наименований
                            аудио/видео и цифровой техники,
                            мелкой и крупной бытовой техники, медиатоваров, а также аксессуаров. Магазины «NHP Team»
                            имеют единый формат и специальную концепцию дизайна.
                            Помимо эффективного формата розничной торговли и ориентированной на покупателя концепции
                            магазина
                            компания предлагает клиентам высококлассную сервисную поддержку под брендом «NHP Team».

                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Розничная сеть NHP Team`s store</h3>
                        <p> Одна из крупнейших розничных сетей по объёмам продаж электроники и бытовой техники в
                            России.</p>
                        <hr class="line">
                        <p class="lit">Мы находимся в Москве. Телефон:<b> 8 800 800 80 88</b>. E-mail: <b>
                            info@nhp.ru</b>.</p>
                        <p class="lit"><a href="#!/politics/" class="nav-item nav-link"
                                          style="color: #ffffff; text-underline: none;">Политика
                            конфиденциальности</a><br>
                            <img src="img/telegramm.png" alt="" width="25" height="25"/>
                            <img src="img/vk.png" alt="" width="25" height="25"/>
                            <img src="img/dzen.png" alt="" width="25" height="25"/>
                            <img src="img/insta.png" alt="" width="25" height="25"/>
                            <img src="img/ok.png" alt="" width="25" height="25"/>
                            <img src="img/fb.png" alt="" width="25" height="25"/>
                            <img src="img/yutub.png" alt="" width="25" height="25"/>
                        </p>
                        <p class="lit"> &copy; 2022. Все права защищены NHP Team.</p><br><br>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 80,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "grab"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 140,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>
</body>
</html>