<div class="jumbotron jumbotron-main" id="home">
    <div id="particles-js"  class="container_slider_css">

        <img class="photo_slider_css" src="img/banner_top3_3.png" alt="">
        <img class="photo_slider_css" src="img/banner_top3_2.png" alt="">
        <img class="photo_slider_css" src="img/banner_top3_1.png" alt="">
        <img class="photo_slider_css" src="img/banner_top3_0.png" alt="">
        <img class="photo_slider_css" src="img/banner_top3.png" alt="">
        <canvas class="particles-js-canvas-el" height="450" ></canvas>

    </div>
    <div class="container center-vertically-holder">
        <div class="center-vertically">
            <div class="col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-3 text-center">
                <h1 class="scaleReveal" data-sr-id="46">
                    Бытовая техника и электроника <strong>в наличии и под заказ</strong>
                </h1>
                <a href="#!/store" class="button button-primary">Перейти в каталог</a>
                <hr class="line" data-sr-id="1">
                <p class="bottomReveal" data-sr-id="2">
                    Одна из крупнейших розничных сетей по объёмам продаж электроники и бытовой техники в России</p>
            </div>
        </div>
    </div>
</div>

<section id="content" ng-controller="welcomeController">
    <div class="container">
        <h1 class="main-top">Категории товаров</h1>
        <div class="row homepage-shops-block" ng-repeat="c in Category.content">
             <div class="col-12 col-sm-6 col-md-3 mt-2 center-content homepage-shops">
                 <div>
                     <img srcset="{{c.pathname}}" alt="{{c.title}}" class="card-body card-img-top">
                     <h3 class="main-top">{{c.title}}</h3>
                     <button class="button_lit1 button_primary_lit btn btn-primary" ng-click="showProductsByCategory(c.id)">Посмотреть товары</button>
                 </div>
             </div>
        </div>
        <div class="row homepage-shops-block">
            <div class="col-12 center-content homepage-shops">

            </div>
        </div>
    </div>
</section>

<section id="content_1">
    <div class="container">
        <div class="row homepage-shops-block">
            <div class="col-4 center-content homepage-shops">
                <img src="img/klients.png" width="150" >
                <p><b>ДЛЯ КЛИЕНТОВ</b><br> Наши клиенты – в центре всего, что мы делаем,
                    Доверие - это главное. Мы строим долгосрочные отношения, стремимся быть
                    экспертами, открыты для предложений и улучшений нашей работы. </p>
            </div>
            <div class="col-4 center-content homepage-shops">
                <img src="img/partners.png" width="150">
                <p><b>ДЛЯ ПАРТНЕРОВ</b><br>
                    Прозрачность - основа совместного бизнеса.
                    Работаем, соблюдая этику бизнеса,
                    уважаем другие мнения и интересы,
                    выполняем обязательства и берем ответственность за свои решения.
                    Нетерпимы к коррупции. </p>
            </div>
            <div class="col-3 center-content homepage-shops">
                <img src="img/staff.png" width="150" style="align-items: center">
                <p><b>ДЛЯ СОТРУДНИКОВ</b><br>
                    NHP - территория личной и коллективной самореализации.
                    Мы - одна команда, ценим интересы друг друга,
                    свободу и ответственность. </p>
            </div>
        </div>

        <div class="row homepage-shops-block">
            <div class="col-12 center-content homepage-shops">
                <p> <img src="img/ms-icon-144x144.png" width="144" class="img_brand">
                    Розничная сеть NHP Team`s store осуществляет свою деятельность с 1993 года и является первой на российском рынке сетью,
                    реализовавшей полноценный омниканальный подход к продажам — это единый ассортимент, цена и сервис как при покупке в магазинах,
                    так и онлайн. Ритейлер предлагает своим покупателям несколько десятков тысяч наименований аудио/видео и цифровой техники,
                    мелкой и крупной бытовой техники, медиатоваров, а также аксессуаров. Магазины «NHP Team» имеют единый формат и специальную концепцию дизайна.
                    Помимо эффективного формата розничной торговли и ориентированной на покупателя концепции магазина
                    компания предлагает клиентам высококлассную сервисную поддержку под брендом «NHP Team».

                </p>
            </div>
        </div>
    </div>
</section>

