.header-area {
    position: relative;
    height: 10vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-admin {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}

.navbar-dark-admin .navbar-nav-admin .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.4rem;
}
.navbar-dark-admin .navbar-nav-admin .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-admin.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(127, 125, 125, 0.72);
}
.navbar-admin.fixed-top.navbar-dark-admin .navbar-nav-admin .nav-link.active {
    color: #5fcfde;
}
.navbar-admin.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #5fcfde;
}

.navbar-dark-admin .navbar-nav-admin .nav-link {
    position: relative;
    color: #5fdade;
    font-size: 1.4rem;
}
.navbar-dark-admin .navbar-nav-admin .nav-link:focus, .navbar-dark-admin .navbar-nav-admin .nav-link:hover {
    color: #5fdade;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}
.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}
.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #5fdade;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #5fdade;
}
.navbar .dropdown-menu {
    padding: 0;
    background-color: #009999;
}
.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #5bc0de;
}
.navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #5bc0de;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}
.navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, .9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #5bc0de;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #469aa6;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px;
    }
    .navbar-nav {
        padding: 0 20px;
        background-color: #009999;
    }
    .navbar.fixed-top .navbar-nav {
        background: transparent;
    }
}
@media screen and (min-width: 767px) {
    .banner {
        padding: 0 150px;
    }
    .banner h1 {
        font-size: 5rem;
    }
    .banner p {
        font-size: 2rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 15px;
    }
    .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #00cccc;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }
    .navbar-dark .navbar-nav .nav-link:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .dropdown-menu {
        min-width: 200px;
        -webkit-animation: dropdown-animation 0.3s;
        animation: dropdown-animation 0.3s;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }
}
@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}