<header>
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">NHP team`s store </a>
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-item nav-link active" href="#!/">Главная</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="#!/store">Каталог</a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-item nav-link" data-toggle="dropdown" href="#!/delivery">Услуги</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Оплата</a>
                            <a href="#" class="dropdown-item">Доставка</a>
                            <a href="#" class="dropdown-item">Возврат</a>
                            <a href="#" class="dropdown-item">Акции и скидки</a>
                        </div>
                    </li>
                    <li><a href="#" class="nav-item nav-link">Контакты</a></li>
                    <li class="dropdown">
                        <a href="#!/cart" class="nav-item nav-link" data-toggle="dropdown">Корзина</a>
                        <div class="dropdown-menu">
                            <a href="#!/orders" class="dropdown-item">Оформление заказа</a>
                            <a href="#!/user" class="dropdown-item">Профиль</a>
                            <a href="#!/orders_items" class="dropdown-item">История заказов</a>
                        </div>
                    </li>
                    <li ng-show="!isUserLoggedIn()" ng-click="tryToLogin()">
                        <button class="button_lit button_primary_lit">Войти</button>

                    </li>
                    <li ng-show="isUserLoggedIn()" ng-click="tryToLogout()">
                        <button class="button_lit1 button_primary_lit1">Выйти</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>